.header {
  text-align: center;
  font-family: Skyfont;
  font-size: 8em;
}

.text-style {
  font-family: Skyfont;
  font-size: 2em;
}

.thumbnails {
  height: 150px;
  width: 180px;
}
html body {
  height: 100%
}

#entry-point {
  min-height: 100%;
  margin-bottom: -50px
}

.content {
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: #e9ecef;
}

@font-face {
  font-family: "Skyfont";
  src: url("./fonts/Skyfont-NonCommercial.otf") format("opentype");
}